# Extension name
extname=mystore

# Extensions that must be installed before
dependencies=

# Shared library flags (-L, -l)
libs=

# To add new type just create a new associative array as follows:
#
#    declare -A datestore=(
#        [name]=DateStore       # name of new SQL type 
#        [keysize]=4            # size of key in bytes (max 8 bytes)
#        [valsize]=4            # size of value in bytes (max 8 bytes)
#        [sql_key_type]=date    # SQL type of the key
#        [key_in_f]=date_in     # C input function for key
#        [key_out_f]=date_out   # C output function for key
#        [key_cmp_f]=date_cmp)  # SQL func for date comparison
#
# and add it's name to the `types` array. There could be more than one type in
# extension.

declare -A dateistore=(
    [name]=DateIStore
    [keysize]=4
    [valsize]=4
    [sql_key_type]=date
    [key_oid]=DATEOID
    [key_in_f]=date_in
    [key_out_f]=date_out
    [key_cmp_f]=date_cmp)

types+=dateistore
